
table
    tr
        th="#"
        th="Nombre"
        th="Precio"
        th="Foto"
    tr 
      each producto in productos
        td= producto.id
        td= producto.nombre
        td= producto.precio
        td= producto.foto
        